:root {
    --menu-color:#231b2e;
    --text-color: #e5e5e5;
    --active-text-color :  #9b4de0;
    --buy-btn-color: #f8e71c;
    --main-backgroup-color: #170f23;
    --item-hover-color:  rgba(255, 255, 255, 0.1);
    --music-player-color: #120c1c;
    --primary-color: #7200a1;
    --border-color:  rgba(255, 255, 255, 0.1) ;
}

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Inter', sans-serif;
    box-sizing: border-box; 
}

.wide-50 {
    margin: 0 50px;
}

.flex-block {
    display: flex;
}

.sub-menu-item.hover:hover,
.main-menu-item.hover:hover {
    color: var(--active-text-color)
}


.main-menu-item.active {
    color: var(--active-text-color);
    border-left: 3px solid var(--active-text-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.buy-btn {
    background-color: var(--buy-btn-color);
    border-radius: 15px;
    padding: 4px 34px;
    border: 2px solid var(--text-color);
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 4px;
}

::-webkit-scrollbar {
    width: 5px;
}

.main-music-player-song-list:hover::-webkit-scrollbar-thumb, 
.menu-nav:hover::-webkit-scrollbar-thumb,
.display-scroll:hover::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}
  
::-webkit-scrollbar-thumb {
    /* background-color: var(--primary-color); */
    background-color: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

.hide-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

/* 
::-webkit-scrollbar {
    width: 0px;
} */

/* đổi màu chữ palceholder */

:-ms-input-placeholder { 
    color: var(--text-color);     /* Internet Explorer 10-11 */
}	  
::-ms-input-placeholder { 
    color: var(--text-color);    /* Microsoft Edge */
}
::placeholder { 
    color: var(--text-color);     /* Firefox, Chrome, Opera */
}

.main-content-nav-item.active {
    background-color: rgba(255, 255, 255, 0.3);
}

.like-btn.active {
    color: #7200a1;
}

/* blur background */

.blur-backgound {
    background-color: #7200a1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 10;
}

/* hide */
.hide {
    display: none !important;
}

/* custom input type range */

#input-progress-song {
    /* width: 400px;
    height: 15px;
    -webkit-appearance: none;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;  */
}

#input-progress-song::-webkit-slider-thumb {
    /* -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #712393;
    box-shadow: -407px 0 0 400px #7200a1; */
}

.margin-bt {
    margin-bottom: 50px;
}

.img-item {
    position: absolute;
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 10px;
    background-repeat: no-repeat;
    transition:all 1s;
    will-change: scale, translate;
}

.first-img {
    opacity: 1;
    z-index: 5;
    transform: scale(1.8, 1.9) translate(60px, 0);
}

.second-img {
    opacity: 0.8;
    z-index: 4; 
    transform: scale(1.5, 1.6) translate(45px, 0);
}

.third-img {
    opacity: 0.6;
    z-index: 3;
    transform: scale(1.3, 1.4) translate(30px, 0);
}

.fourth-img {
    z-index: 2;
    opacity: 0;
    transition:all 1s ease-in;
}

.padding-top-100 {
    padding-top: 200px;
}

.following-container-post-reaction i {
    cursor: pointer;
    margin-right: 3px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:  rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: all 10s linear;
}

.overlay.active {
    opacity: 1;
}


.logo.small-size {
    width: 36px;
    margin-left: 0;
}

.input-progress-song {
    cursor: pointer;
}


